html {
  background: url("../images/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
}

.skills-main {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: flex-start;
  width: 70%;
  height: auto;
  max-width: 100%;
  margin: 5% auto 0;
  border: none;
}

.skills {
  background-color: #eceef1;
  color: #272728;
  padding: 0 2rem 2rem 2rem;
}

.skillswrapper {
  background-color: #eceef1;
  display: flex;
  flex-direction: row;
  color: #272728;
  border: none;
  align-items: center;
  width: 100%;
}

.skills h1 {
  line-height: 3.3rem;
  font-size: 3rem;
}

.skills1 {
  margin: 0;
  width: 70%;
}

.skillswrapper img {
  padding: 0;
  width: 70%;
  height: auto;
}

.skills2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: auto;
}

.bullets {
  background-color: #272728;
  color: #eceef1;
  padding: 0 2rem 2rem 2rem;
}

.bullets h2 {
  font-size: 2.5rem;
  line-height: 2.75rem;
}

.bulletscard h2 {
  font-size: 2.5rem;
  line-height: 2.75rem;
}

.bullets-list {
  background-color: #272728;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #eceef1;
  width: 100%;
}

.bullets1 {
  padding: 0 2rem 2rem 2rem;
  background-color: #272728;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: left;
}

.bullets1 h3 {
  display: flex;
  justify-content: center;
}

.bullets1 p {
  display: flex;
  align-content: center;
}

.bullets ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.bullets li,
p {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.exercises {
  padding: 0 2rem 0 2rem;
  background-color: #eceef1;
  color: #272728;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.exercises h4 {
  font-size: 1.8rem;
  line-height: 1.9rem;
}

.blog-entry {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 1rem;
  width: 100%;
}

.entries img {
  max-width: 80%;
  max-width: 200px;
  padding: 1rem 1rem;
  cursor: pointer;
}

.blog-entry img:hover {
  opacity: 0.8;
}

.blog-entry h5 {
  font-size: 1.6rem;
  line-height: 1.76rem;
  margin-bottom: 0;
  margin-top: 1rem;
  text-decoration: none;
}

.blog-entry h6 {
  font-size: 1rem;
  line-height: 1.1rem;
  font-weight: 300;
  font-style: italic;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.blog-entry a {
  color: #2ca78c;
}

.blog-entry a:hover {
  color: #1c856f;
}

@media (max-width: 1274px) {
  .skills-main {
    width: 80%;
  }

  .skillswrapper {
    background-color: #eceef1;
    display: flex;
    flex-direction: column;
    color: #272728;
    border: none;
    align-items: center;
    width: 100%;
  }

  .skills h1 {
    line-height: 3rem;
    font-size: 3.3rem;
  }

  .skills1 {
    margin: 0;
    width: 100%;
  }

  .skillswrapper img {
    padding: 0;
    width: 100%;
    height: auto;
    padding-top: 2rem;
  }

  .skills2 img {
    width: 90%;
    height: auto;
  }
}

@media (max-width: 1095px) {
  .skills-main {
    width: 100%;
    height: auto;
    max-width: 100%;
    margin: 0;
  }

  .skills2 img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 982px) {
  .skills2 {
    width: 100%;
  }
  .skills2 img {
    width: 45%;
    height: auto;
  }
}

@media (max-width: 805px) {
  .bullets h2 {
    margin-bottom: 0;
  }

  .bullets-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    height: auto;
    padding: 0;
  }

  .bullets1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: flex-start;
    padding: 1rem 0 0 0;
  }

  .bullets li,
  p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
  }

  .skills2 img {
    width: 65%;
    height: auto;
  }

  .blog-entry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 1rem;
    width: 100%;
  }
  .blog-entry img {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    width: 100%;
  }
}
