* {
  box-sizing: border-box;
}

.overview {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

a {
  font-weight: bold;
  color: #0aff9d;
  transition: 0.3s ease;
}

a:hover {
  color: #088654;
}

.highlight-words {
  background-color: #065e3a;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  font-family: "Poppins" sans-serif;
}

p {
  font-weight: 200;
  margin-top: 1rem;
}

body,
html {
  height: auto;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

.overview {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.me {
  margin-top: 3rem;
  border-left: 2px solid rgba(10, 255, 157, 0.3);
  border-bottom: 2px solid rgba(10, 255, 157, 0.3);
  padding-left: 2rem;
  padding-right: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  overflow: hidden;
}

.me-header {
  display: flex;
  flex-direction: column;
}

.me-img img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 2px #eaeceb solid;
}

.me h1 {
  font-family: "Poppins", sans-serif;
  font-size: 6rem;
  text-align: left;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  width: 35%;
  height: auto;
  overflow: hidden;
  z-index: 2;
  animation: riseFromBelow 0.5s ease-out forwards;
}

.me h1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #0aff9d;
  animation: slideInBlock 1.5s ease-out forwards;
  z-index: 1;
}

.me-header2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.me p {
  margin-top: 1rem;
}

.nickgreen {
  color: #0aff9d;
  font-size: 6rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.join-right {
  border-right: 2px solid rgba(10, 255, 157, 0.3);
  height: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.join-left {
  border-left: 2px solid rgba(10, 255, 157, 0.3);
  height: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.about {
  border-right: 2px solid rgba(10, 255, 157, 0.3);
  padding-left: 2rem;
  padding-right: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom: 2px solid rgba(10, 255, 157, 0.3);
}

.about-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 0rem;
  margin-bottom: 0.5rem;
}

.about-header h3 {
  font-size: 2.8rem;
  margin-left: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  animation: riseFromBelow 0.5s ease-out forwards;
}

.about p {
  margin-top: 0.5rem;
}

.learning {
  border-left: 2px solid rgba(10, 255, 157, 0.3);
  padding-left: 2rem;
  padding-right: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom: 2px solid rgba(10, 255, 157, 0.3);
}

.learning-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 0rem;
}

.learning-header h3 {
  font-size: 2.6rem;
  margin-left: 1rem;
  margin-bottom: 0;
  margin-top: 0;
  animation: riseFromBelow 0.5s ease-out forwards;
}

.learning p {
  margin-top: 0.5rem;
}

.outside-work {
  border-right: 2px solid rgba(10, 255, 157, 0.3);
  padding-left: 2rem;
  padding-right: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 2rem;
  padding-top: 1rem;
  border-bottom: 2px solid rgba(10, 255, 157, 0.3);
}

.outside-work-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 0rem;
}

.outside-work-header h4 {
  font-size: 2.4rem;
  margin-left: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  animation: riseFromBelow 0.5s ease-out forwards;
}

.outside-work p {
  margin-top: 0.5rem;
}

.outside-work-words-eva {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.eva1 {
  width: 70%;
}

.eva2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.outside-work-words-eva img {
  width: 45%;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 2px #eaeceb solid;
}

.adventures {
  border-left: 2px solid rgba(10, 255, 157, 0.3);
  padding-left: 2rem;
  padding-right: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 4rem;
  padding-top: 1rem;
}

.adventures-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 0rem;
}

h5 {
  font-size: 2.2rem;
  margin-left: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  animation: riseFromBelow 0.3s ease-out forwards;
}

.adventures p {
  margin-top: 0.5rem;
}

.section {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.3s ease-in-out, transform 0.6s ease-in-out;
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (max-width: 920px) {
  .me {
    margin-top: 1rem;
  }

  .about {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  .about-header {
    padding-top: 0;
  }

  .learning {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  .outside-work {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  .outside-work h4 {
    font-size: 2rem;
  }

  .adventures {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  .adventures h5 {
    font-size: 2rem;
  }
  .outside-work-words-eva {
    flex-direction: column;
  }
  .eva1 {
    width: 100%;
  }
  .eva2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .me h1 {
    font-size: 3rem;
    width: 50%;
  }

  .me img {
    margin-bottom: 0rem;
  }
  .nickgreen {
    font-size: 3rem;
  }
}
