.portfolio-body {
  padding-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-right: 2px solid rgba(10, 255, 157, 0.3);
  padding-bottom: 2rem;
}

.portfolio-me {
  margin-top: 3rem;
  border-left: 2px solid rgba(10, 255, 157, 0.3);
  border-bottom: 2px solid rgba(10, 255, 157, 0.3);
  padding-left: 2rem;
  padding-right: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  overflow: hidden;
}

.portfolio-me h1 {
  font-family: "Poppins", sans-serif;
  font-size: 6rem;
  text-align: left;
  line-height: 1.2;
  margin-top: 1rem;
  margin-bottom: 0;
  position: relative;
  width: 40%;
  height: auto;
  overflow: hidden;
  z-index: 2;
  animation: riseFromBelow 0.5s ease-out forwards;
}

.portfolio-me p {
  width: 95%;
}

.portfolio-me h1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #0aff9d;
  animation: slideInBlock 1.5s ease-out forwards;
  z-index: 1;
}

.me-img {
  object-fit: contain;
}

.portfolio-entity {
  border: 2px solid rgba(10, 255, 157, 0.3);
  margin-right: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

h2 {
  margin-top: 2rem;
  font-size: 1.8rem !important;
  margin-bottom: 0;
}

p {
  margin-top: 0;
}

.portfolio-entity-words {
  margin-left: 2rem;
}

.portfolio-img img {
  width: 250px;
  height: 150px;
  object-fit: contain;
  border: #eaeceb 2px solid;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 1250px) {
  .portfolio-me h1 {
    font-size: 6rem;
    width: 55%;
  }
}

@media screen and (max-width: 920px) {
  .portfolio-me h1 {
    font-size: 3rem;
    width: 35%;
  }

  .portfolio-body {
    padding-top: 1rem;
    margin-right: 1rem;
  }

  .portfolio-entity {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 1rem;
  }

  .portfolio-entity-words p {
    width: 90%;
  }

  .portfolio-img {
    margin-bottom: 1rem;
    padding-bottom: 0;
  }

  .portfolio-img img {
    padding-bottom: 0;
    margin-bottom: 0;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-right: 0;
  }

  .portfolio-entity-words {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
  }

  .portfolio-entity-words h2 {
    margin-top: 0;
  }

  .portfolio-me {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 750px) {
  .portfolio-me h1 {
    font-size: 3rem;
    width: 45%;
  }
}

@media screen and (max-width: 575px) {
  .portfolio-me h1 {
    font-size: 3rem;
    width: 55%;
  }
}

@media screen and (max-width: 485px) {
  .portfolio-me h1 {
    font-size: 3rem;
    width: 65%;
  }
}

@media screen and (max-width: 430px) {
  .portfolio-me h1 {
    font-size: 3rem;
    width: 75%;
  }
}

@media screen and (max-width: 390px) {
  .portfolio-me h1 {
    font-size: 3rem;
    width: 85%;
  }
}
