:root {
  font-family: "Poppins", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  background-color: #141414 !important;
  color: #eaeceb;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: #141414 !important;
  color: #eaeceb !important;
  font-family: "Poppins", sans-serif !important;
}

a {
  text-decoration: none !important;
}

p {
  font-weight: 200;
}
